
/****************/
/* Custom Fonts */
/****************/

/* Spartan */

/* latin-ext */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/spartan/v2/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrGFuV6HABLPepqTef25Xw.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/spartan/v2/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrGFuV6JABLPepqTef0.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/***********/
/* General */
/***********/

body {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background-image: url(background.png);
    background-attachment: fixed;
    background-position: top left;
    background-repeat: cover;
    background-size: 100% 100%;
    font-family: 'Spartan', sans-serif;
}

/*************/
/* Help Menu */
/*************/

#help-display {
    position: fixed;
    transition: all 0.5s;
    left: 200vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    overflow-y: auto;
    border: 1px solid #5c5c5c;
    border-radius: 25px;
    background: #9DC5B0;
}

#help-display.show {
    left: 10vw;
}
 
#help-display-text-container {
}

#help-display-text {
    height: 100%;
    padding: 30px;
    text-align: center;
}

#close-help-button {
    cursor: pointer;
}

#open-help-button {
    text-align: center;
    font-size: min(30px, 3vw);
    transform: rotate(90deg) translateY(-50%);
    cursor: pointer;
}

/****************/
/* Main Display */
/****************/

#main-display {
    position: fixed;
    transition: left 0.5s;
    left: -200vw;
    top: 50vh;
    overflow-y: hidden;
    border: 1px solid #5c5c5c;
    border-radius: 25px;
    background: #6dbce3;
    transform: translateX(-50%) translateY(-50%);
}

#main-display.show {
    left: 50vw;
}

/**************/
/* Choropleth */
/**************/

#land-masses-group .land-mass {
    transition: fill-opacity 0.5s, fill 0.5s;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke: #0079b5;
}

#tool-tip-bounding-box {
    fill: #65bf47;
}

#slider-bounding-box {
    stroke-width: 1;
    stroke: black;
    fill: #65bf47;
}

#play-button {
    stroke-linejoin: round;
    stroke-width: 1;
    stroke: black;
    fill: #65bf47;
}

#play-button-group {
    cursor: pointer;
}
 
